body {
    background-color: bisque;
    background-image: url("../images/parchment.jpg");
}

.content {
    padding: 25px;
    text-align: justify;
    background-color: white;
}

.footer a
{
    text-decoration: none;
    color: white;
    font-size: larger;
}

.footer h3{
    margin-bottom: 25px;
}