{% include header.html %}

<!-- Start Content -->
<div class="bookTitle">
    {{page.title}}
    {% if page.subtitle %}
    <br/><i>{{page.subtitle}}</i>
    {% endif %}
    {% if page.author %}
    <br/>by
    {% for auth in page.author %}
    <a href="{{site.baseurl}}{{auth.link}}"><i>{{auth.name}}</i></a>
    {% if forloop.length > 1 and forloop.index < forloop.length %}
    and
    {% endif %}
    {% endfor %}
    {%endif%}
</div>
{% if page.banner %}
<div class="banner">
    {{page.banner}}
</div>
{% endif %}
<div class="row">
    <div class="col" data-aos="fade-right">
        {{content}}
    </div>
    <div class="col" data-aos="fade-left" style="margin-left: 15px;">
            <img src="{{site.baseurl}}{{page.image}}" class="img-fluid">
    </div>
</div>

<!-- End Content -->

{% include footer.html %}
