{% include header.html %}
<!-- Start Content-->
<h1>{% if page.hashtag %}&#35;{%endif%}{{page.title}}</h1>

<p><i>By James Batchelor on {{page.date |  date_to_long_string: "ordinal", "US" }}</i></p>

<div>
{{content}}
</div>
<!-- End Content-->

<div class="previous-next-post-links">
    <div style="float:left">
        {% if page.previous != nil %}
            <a style="text-decoration:none" href="{{ site.baseurl }}{{ page.previous.url }}">
                <i class="fa fa-chevron-left"></i> {% if page.previous.hashtag %}&#35;{%endif%}{{ page.previous.title }}
            </a>
        {% endif %}
    </div>

    <div style="float:right">
        {% if page.next != nil %}
            <a style="text-decoration:none" href="{{ site.baseurl }}{{ page.next.url }}">
                {% if page.next.hashtag %}&#35;{%endif%}{{ page.next.title }} <i class="fa fa-chevron-right"></i>
            </a>
        {% endif %}
    </div>
    <br />
</div>

{% include footer.html %}
